@model DeliveryApp.Web.Models.ProductList
@{ Layout = "_Layout"; }

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE HTML>
<html>
<head>
    <title>XD</title>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>

</head>



<body>
    <div>
        @await Html.PartialAsync("Banner")
    </div>
    <div>
        @await Component.InvokeAsync("Category")
    </div>

    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="row shop_box-top">
                    <h3 class="m_3">Top rated products</h3>
                    @foreach (var data in Model.Data)
                    {
                        <div class="col-md-3 shop_box">
                            <a asp-controller="Product" asp-action="Detail" asp-route-productId="@data.Id">
                                <img style="width:300px; height:200px;" src=@data.PictureUrl class="img-responsive" alt="" />

                                <div class="shop_desc">
                                    <h3><a href="#">@(data.Name.Length > 25 ? data.Name.Substring(0, 25) : data.Name)...</a></h3>
                                    <p>@(data.Description.Length > 30 ? data.Description.Substring(0, 30) : data.Description)...</p>
                                    <span class="actual">@data.Price&#x20BA</span><br>
                                                                                  <ul class="buttons">
                                                                                      @{
                                                                                          if (HttpContextAccessor.HttpContext.Request
                                                                                          .Cookies["DeliveryApp"] != null)
                                                                                          {
                                                                                              <li class="cart"><a asp-controller="Basket" asp-action="AddSingle" asp-route-productId="@data.Id">Add To Basket</a></li>
                                                                                          }
                                                                                      }

                                                                                      <li class="shop_btn"><a asp-controller="Product" asp-action="Detail" asp-route-productId="@data.Id">Read More</a></li>
                                                                                      <div class="clear"> </div>
                                                                                  </ul>
                                </div>
                            </a>
                        </div>}

                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
</body>
</html>
