@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@model DeliveryApp.Web.Models.CommentList
<link href="~/Admin/css/styles.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">


                    <div class="row">
                        <br>

                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Categories
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Text</th>
                                            <th>Date</th>
                                            <th>Is Published</th>
                                            <th>Publish</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Data)
                                        {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Text</td>
                                            <td>@item.Date</td>
                                            <td>@item.IsPublished</td>
                                            <td>
                                                <form asp-controller="Comment" asp-action="PublishComment" method="post">
                                                    <input type="hidden" name="CommentId" value="@item.Id" />
                                                    <button type="submit" class="w3-btn w3-white w3-border w3-border-blue w3-round-large">Publish</button>
                                                </form>
                                            </td>
                                            <td><a asp-action="DeleteComment" asp-controller="Comment" asp-route-commentId="@item.Id"><button type="button" class="w3-btn w3-white w3-border w3-border-blue w3-round-large" data-toggle="modal" data-target="#staticModal">X</button></a></td>
                                        </tr>
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </main>

        </div>
    </div>
   
</body>
